@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2 {
    margin: 0;
}

.homepage {
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center horizontally */



    background-image: url('images/forest.jpg');
    height: 100vh; 
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000; /* In case the image doesn't load */


}

.centered-hero{

    padding-top: 13%;
    text-align: center;
    font-family: adobe-garamond-pro, serif;


}
.centered-hero h1 {
    font-size: 3.75rem; /* Larger size for h1 */
    color: #14342c;
    font-weight: 300;
}

.centered-hero h2 {
    font-size: 2.8rem; /* Slightly smaller size for h2 */
    color: #2d2d2d;
    font-weight: 500;
    
}
.about-page {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
  }
.horizontal-border{
    width: 100%;
    height: 18rem;
    background-image: url('images/leafpattern.jpg');
    background-repeat: repeat;
    background-size: 300px 300px;
}
.comic-me{
    margin-top: -13rem;
}
.about-text {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding-top: 3.5rem;
    padding-left: 30rem;
    padding-right: 30rem;
    padding-bottom: 18rem;

    text-align: center;

    font-family: "peridot-pe-variable", sans-serif;
    color: #2d2d2d;
}
.about-page h1{
    font-size: 3.25rem;
    font-family: "peridot-pe-variable", sans-serif;

}
.about-page h2{
    margin-top: 2.75rem;
    font-size: 1.75rem;
    line-height: 1.25;

}
.techicon-container{
    display: flex;
    width: 100%;
    padding-top: 3rem;
    justify-content: center;
    gap: 2.8rem;
}
.tech-icon{

}
.tech-icon h2{
    font-size: 1.2rem;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}
.projects-page {
    position: relative; 
    text-align: center;
}
  .projects-image {
    width: auto; 
    height: auto;
  }
  .projects-header {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0); 
    font-family: "marker-aid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75rem;
  }
  .project-cards-container {
    display: flex;
}

.project-card {
    width: 400px; /* Fixed width */
    height: 425px; /* Fixed height */
    overflow: hidden; /* Ensures nothing spills out of the card */
    background-color: lightskyblue; /* Fallback color */
    border-radius: 15px;
    background-image: url('images/westcoastees.png'); /* Your image path */
    background-position: center; /* Centers the image in the card */
    background-size: cover; /* Scales the image to cover the card */

    position: relative;
}
.project-card .label {
    position: absolute; /* Absolute positioning within the project-card */
    top: 68%; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    padding-left: 8%;
    width: 270px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.95); /* Just for visibility */
    display: flex;
    flex-direction: column;
    border-radius: 0 12.5px 12.5px 0; /* top-left, top-right, bottom-right, bottom-left */
    
    justify-content: center; /* Center content horizontally */

    font-family: "peridot-pe-variable", sans-serif;

}
.project-card .label h2{
    color: #f33f24;
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;

}
.project-card .label h3{
    margin: 0;
    font-weight: 100;
    font-size: 1rem;
   
}
