html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2 {
    margin: 0;
}

.homepage {
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center horizontally */



    background-image: url('images/forest.jpg');
    height: 100vh; 
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000; /* In case the image doesn't load */


}

.centered-hero{

    padding-top: 13%;
    text-align: center;
    font-family: adobe-garamond-pro, serif;


}
.centered-hero h1 {
    font-size: 3.75rem; /* Larger size for h1 */
    color: #14342c;
    font-weight: 300;
}

.centered-hero h2 {
    font-size: 2.8rem; /* Slightly smaller size for h2 */
    color: #2d2d2d;
    font-weight: 500;
    
}
.about-page {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
  }
.horizontal-border{
    width: 100%;
    height: 18rem;
    background-image: url('images/leafpattern.jpg');
    background-repeat: repeat;
    background-size: 300px 300px;
}
.comic-me{
    margin-top: -13rem;
}
.about-text {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding-top: 3.5rem;
    padding-left: 30rem;
    padding-right: 30rem;
    padding-bottom: 18rem;

    font-family: "peridot-pe-variable", sans-serif;
    color: #2d2d2d;
}
.about-page h1{
    font-size: 3.25rem;
    font-family: "peridot-pe-variable", sans-serif;

}
.about-page h2{
    margin-top: 2.75rem;
    font-size: 1.75rem;
    line-height: 1.25;

}
.projects-page {
    position: relative; 
    text-align: center;
}
  .projects-image {
    width: auto; 
    height: auto;
  }
  .projects-header {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0); 
    font-family: "marker-aid", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.75rem;
  }
